<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {{ headContent() }}

  <script src="bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <link rel="shortcut icon" type="image/x-icon" href="LogoHK220X150.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="mystyle.css" />

  <title>Mouse housekeeping genes expression - Visualization</title>
  <meta name="Description" content="Visualize human housekeeping genes expression across tissue and cell types." />


  <meta itemprop="name" content="Housekeeping genes database" />
  <meta itemprop="description" content="Human and mouse housekeeping genes for qPCR normalization.
      Users can search for the most suitable tissue specific reference genes (endogenous controls) and efficient primers to normalize their qPCR experiments.
      Diseases and small molecules that can modify expression stability." />

  <meta itemprop="image" content="pipeline2.png" />
  <link rel="publisher" href="https://plus.google.com/+www.housekeeping.unicamp.br" />
  <meta property="og:url" content="www.housekeeping.unicamp.br" />
  <meta property="og:site_name" content="Housekeeping genes database" />
  <meta property="og:description" content="Human and mouse housekeeping genes for qPCR normalization.
      Users can search for the most suitable tissue specific reference genes (endogenous controls) and efficient primers 
      to normalize their qPCR experiments. Diseases and small molecules that can modify expression stability." />

  <meta property="og:type" content="website" />
  <meta property="og:image" content="pipeline2.png" />
  <meta name="twitter:url" content="www.housekeeping.unicamp.br" />
  <meta name="twitter:title" content="Housekeeping genes database" />
  <meta name="twitter:description" content="Human and mouse housekeeping genes for qPCR normalization.
      Users can search for the most suitable tissue specific reference genes (endogenous controls) and efficient primers to 
      normalize their qPCR experiments. 
      Diseases and small molecules that can modify expression stability." />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:image" content="pipeline2.png" />
  <meta name="twitter:creator" content="@BidossessiH" />
  <meta name="author" content="Bidossessi Wilfried Hounkpe" />
  <meta name="robots" content="index" />
  <meta name="google-site-verification" content="DGWLR3MQZ2V6rHusJy1Hb_VWOqUcVCFqv1aNGNOvmiQ" />
  <script src="https://www.googletagmanager.com/gtag/js?id=UA-137785214-1">async</script>

  <!--Global site tag (gtag.js) - Google Analytics -->
  <script>

    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-137785214-1');
  </script>

</head>


<body>

  <nav class="navbar navbar-expand-lg navbar-style navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand logo-hrt" href="/">
        <img src="www/images/LogoHKNav2.png" alt="" class="d-inline-block align-text-top">
        Housekeeping and Reference Transcript Atlas
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="?about">About</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="?download"
              onclick="ga('send', 'event', 'Menu', 'access', 'Download');">Downloads</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" aria-current="page" href="#" id="navbarDropdownMenu" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Gene expression
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
              <li><a class="dropdown-item" href="?page=human-housekeeping-gene/visualization" style="text-align:justify"
                onclick="ga('send', 'event', 'Menu', 'access', 'Visualize Human');">Human housekeeping genes expression
                <br> in different tissues
              </a></li>
              <li><a class="dropdown-item" href="?page=mouse-housekeeping-gene/visualization" style="text-align:justify"
                onclick="ga('send', 'event', 'Menu', 'access', 'Visualize Mouse');">Mouse housekeeping genes expression
                <br> in different tissues
              </a></li>
  
            </ul>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="?modifiers" onclick="ga('send', 'event', 'Menu', 'access', 'Modifiers');">Expression
              Modifiers</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>


  <!--*****************************************-->
  <!--*****************************************-->
  <!--******************Mouse visualization***********************-->
  <!--*****************************************
  -->
  {{temp_var}}
  <br>
  <br>

  <!--Footer-->
  <div id="footer" class="container-fluid shadow-top">
    <div class="row">

      
      <br />
      <div class="col-xs-3 col-lg-2 footerdiv1">
        <a href='https://www.unicamp.br' target='_blank'><img src='www/images/Unicamp.png' class='imageFooter'></a>
        <a href='https://www.hemocentro.unicamp.br' target='_blank'><img src='www/images/Hemocentro.png'
            class='imageFooter imageFooter1'></a>
      </div>
      <div class="col-xs-4 col-lg-5 bordst footerdiv">
        <div sytle="margin:auto" class="footerdiv2">
          Affiliation
          <br />
          University of Campinas
          <br />
          Laboratory of Hemostasis and Inflammation - LAHI
          <br />
          Hemocentro Campinas/Brazil
        </div>
      </div>
      <div class="col-xs-4 col-lg-5 bordst footerdiv">
        <div sytle="margin:auto" class="footerdiv2">
          Contact
          <br />
          For questions, problems or suggestions, please send a mail to Bidossessi Wilfried: openbiotools@gmail.com
        </div>
        <br />
        <a href='https://github.com/Bidossessih/HRT_Atlas' target='_blank'><img src='www/images/github.png'
            style='width: 25px; float: right;'></a>
      </div>

    </div>

  </div>
  
  </script>

</body>

</html>