<div id="accordion">
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseintro">
        <h1>Housekeeping and Reference Transcript Atlas v1.0</strong>
      </a>
    </div>
    <div id="collapseintro" class="collapse show" data-parent="#accordion">
      <div class="card-body" style="text-align:justify; line-height: 1.6;">
        <div id="accordionhk1" style="width:100%; height:auto; " class="datatables html-widget html-widget-output">
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapse1">
        <h1>What does Housekeeping and Reference Transcript Atlas offer?</strong>
      </a>
    </div>
    <div id="collapse1" class="collapse" data-parent="#accordion">
      <div class="card-body" style="text-align:justify; line-height: 1.6;">
        <div id="accordionhk2" style="width:100%; height:auto; " class="datatables html-widget html-widget-output">
        </div>
      </div>
    </div>
  </div>



</div>

</div>
</div>

</div>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<script>
  $('.collapse').collapse({ toggle: false })
</script>