<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {{ headContent() }}

  <link href="www/hrt.css.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="www/images/LogoHK220X150.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />


  <title>About HRT Atlas v1.0: Housekeeping gene database</title>
  <meta name="Description"
    content="Human and mouse candidate reference transcripts/genes for qPCR normalization. Suitable tissue specific reference genes and efficient primers." />

  <meta itemprop="name" content="Housekeeping genes database" />
  <meta itemprop="description" content="Human and mouse candidate reference transcripts/genes for qPCR normalization.
    Users can search for the most suitable tissue specific reference genes (endogenous controls) and efficient primers to normalize their qPCR experiments.
    Diseases and small molecules that can modify expression stability." />

  <meta itemprop="image" content="www/images/pipeline2.png" />
  <link rel="publisher" href="https://plus.google.com/+www.housekeeping.unicamp.br" />
  <meta property="og:url" content="www.housekeeping.unicamp.br" />
  <meta property="og:site_name" content="Housekeeping genes database" />
  <meta property="og:description" content="Human and mouse candidate reference transcripts/genes for qPCR normalization.
    Users can search for the most suitable tissue specific reference genes (endogenous controls) and efficient primers 
    to normalize their qPCR experiments. Diseases and small molecules that can modify expression stability." />

  <meta property="og:type" content="website" />
  <meta property="og:image" content="www/images/pipeline2.png" />
  <meta name="twitter:url" content="www.housekeeping.unicamp.br" />
  <meta name="twitter:title" content="Housekeeping genes database" />
  <meta name="twitter:description" content="Human and mouse candidate reference transcripts/genes for qPCR normalization.
    Users can search for the most suitable tissue specific reference genes (endogenous controls) and efficient primers to 
    normalize their qPCR experiments. 
    Diseases and small molecules that can modify expression stability." />

  <meta name="twitter:accordion" content="summary" />
  <meta name="twitter:image" content="www/images/pipeline2.png" />
  <meta name="twitter:creator" content="@BidossessiH" />
  <meta name="author" content="Bidossessi Wilfried Hounkpe" />
  <meta name="robots" content="index" />

  <meta property="og:site_name" content="OUP Academic">
  <meta property="og:type" content="article">
  <meta property="og:title"
    content="HRT Atlas v1.0 database: redefining human and mouse housekeeping genes and candidate reference transcripts by mining massive RNA-seq datasets">
  <meta property="og:description"
    content="Abstract.  Housekeeping (HK) genes are constitutively expressed genes that are required for the maintenance of basic cellular functions. Despite their importanc">
  <meta property="og:url" content="https://academic.oup.com/nar/article/doi/10.1093/nar/gkaa609/5871367">
  <meta property="og:image" content="//oup.silverchair-cdn.com/UI/app/img/generic-cover.png">
  <meta property="og:updated_time" content="2020-07-14">
  <meta name="citation_author" content="Hounkpe, Bidossessi Wilfried">
  <meta name="citation_author_institution"
    content="School of Medical Sciences, University of Campinas, Campinas, SP, Brazil">
  <meta name="citation_author" content="Chenou, Francine">
  <meta name="citation_author_institution"
    content="School of Medical Sciences, University of Campinas, Campinas, SP, Brazil">
  <meta name="citation_author" content="de&nbsp;Lima, Franciele">
  <meta name="citation_author_institution"
    content="School of Medical Sciences, University of Campinas, Campinas, SP, Brazil">
  <meta name="citation_author" content="De&nbsp;Paula, Erich Vinicius">
  <meta name="citation_author_institution"
    content="School of Medical Sciences, University of Campinas, Campinas, SP, Brazil">
  <meta name="citation_author_institution"
    content="Hematology and Hemotherapy Center, University of Campinas, Campinas, SP, Brazil">
  <meta name="citation_title"
    content="HRT Atlas v1.0 database: redefining human and mouse housekeeping genes and candidate reference transcripts by mining massive RNA-seq datasets">
  <meta name="citation_doi" content="10.1093/nar/gkaa609">
  <meta name="citation_journal_title" content="Nucleic Acids Research">
  <meta name="citation_journal_abbrev" content="Nucleic Acids Res">
 
  <meta name="citation_pdf_url"
    content="https://academic.oup.com/nar/article-pdf/doi/10.1093/nar/gkaa609/33495304/gkaa609.pdf">
  <meta name="description"
    content="Abstract.  Housekeeping (HK) genes are constitutively expressed genes that are required for the maintenance of basic cellular functions. Despite their importanc">



</head>


<body>

  <nav class="navbar navbar-expand-lg navbar-style navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand logo-hrt" href="/">
        <img src="www/images/LogoHKNav2.png" alt="" class="d-inline-block align-text-top">
        Housekeeping and Reference Transcript Atlas
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="?about">About</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="?download"
              onclick="ga('send', 'event', 'Menu', 'access', 'Download');">Downloads</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Gene expression
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
              <li><a class="dropdown-item" href="?page=human-housekeeping-gene/visualization" style="text-align:justify"
                onclick="ga('send', 'event', 'Menu', 'access', 'Visualize Human');">Human housekeeping genes expression
                <br> in different tissues
              </a></li>
              <li><a class="dropdown-item" href="?page=mouse-housekeeping-gene/visualization" style="text-align:justify"
                onclick="ga('send', 'event', 'Menu', 'access', 'Visualize Mouse');">Mouse housekeeping genes expression
                <br> in different tissues
              </a></li>
  
            </ul>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="?modifiers" onclick="ga('send', 'event', 'Menu', 'access', 'Modifiers');">Expression
              Modifiers</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <div class="container">

    <h2>404 Not Found Error:</h2>
    <p>That URL doesn't exist. Use the navigation bar to navigate to the page you were looking for.</p>

  </div>
  
</body>
</html>

