@charset "UTF-8";
/* CSS Document */


.desc {
  color: white;
  font-family: 'proxima-nova', Helvetica, sans-serif;
  font-size: 1.0em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  
}



#footer {
    
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#ffffff;
  
  min-height: 80px;
  
  visibility: visible;
  border-top: 1px #ccc solid;
  margin-bottom: 15px;
  float:left; 
  
  text-align: justify;
  font-size:13px; 
  color: #333c;
}



.footerdiv {
  
  font-size: 10px;
  width: 100%;
  margin: 20px auto auto auto;

  
}

.footerdiv1 {
  
  font-size: 10px;
  width: 100%;
  margin: auto;
  
}

@media only screen and (max-width: 787px) {
 .imageFooter1 {
   margin-left: 30px;
 }
}

@media only screen and (max-width: 1179px) {
 .imageFooter {
   width: 35px;
 }
}

@media only screen and (min-width: 1180px) {
 .imageFooter {
   width: 60px;
 }

 .bordst {
   /*border-left: 1px rgb(173, 171, 171) solid;*/
   height: 100px;
 }
}

@media only screen and (min-width: 994px) {
 .bordst {
   /*border-left: 1px rgb(173, 171, 171) solid;*/
   height: 100px;
 }
}



.shadow-top {
  -webkit-box-shadow: 0 -4px 5px -3px rgb(221, 218, 218);
  -moz-box-shadow: 0 -4px 5px -3px rgb(221, 218, 218);
  box-shadow: 0 -4px 5px -3px rgb(221, 218, 218);
}


.viewtablebtn {
  background-color:blue;
  color:white; 
  font-weight:bold; 
  border: 2px blue solid; 
  border-radius: 5px;
  
  box-shadow: 0 10px 20px -8px rgba(166, 130, 255, 0.7);
  text-align: justify; 
  
}

.bgrdviewtable{
  background-color:blue;
  color:white; 
  font-weight:bold; 
  border: 2px blue solid; 
  border-radius: 5px;

}

@media only screen and (min-width: 788px) {
  .footerdiv {
    width: 45%;
    margin: auto;
    
  }

  .footerdiv1 {
    width: 10%;
    margin: auto;
    
  }
}


@media only screen and (max-width: 930px) {
  .footerdiv2 {
   font-size: 10px !important;
    
  }

}


@media only screen and (max-width: 760px) {
  .bdfont {
    text-align: center;
    color:black;
    font-size: 60%;
    font-weight: bold;
      
  }

  
/*
  .imageFooter {
    display: none;
  }
*/
  .submitbtnsubmitbtn {
    background-color:blue;
    color:white; 
    font-weight:bold; 
    border: 2px blue solid; 
    border-radius: 5px;
    font-size: 50%;
    width: 100%;
    height: 30px;
    text-align: justify;
    box-shadow: 0 10px 20px -8px rgba(166, 130, 255, 0.7);
    
    
  }

  .submitbtn {
    background-color:blue;
    color:white; 
    font-weight:bold; 
    border: 2px blue solid; 
    border-radius: 5px;
    box-shadow: 0 10px 20px -8px black;
    text-align: justify;
    font-size: 80%;
    width: 90%;
    margin-left: 5%;
    padding-left: 12%;
  }
  
  .viewtablebtn {
    font-size:50%;
    margin: auto;
    width: 50%;
    
  }
  
  .dtTableStyle {
    font-size: 50%;
    margin-left: -34px;
    overflow-x: scroll;
    
  }

  .searchbar {
    width: 100%;
    margin-left: 10%;
  }

  .searchcenter {
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 0px;
    width: 95%;

  }

  .searchFont {
    width: auto;
    font-size: 8px !important;
  }

  .clustrmaps-visitors, .clustrmaps-date, .clustrmaps-bottom-text {
    font-size: 10px !important;
  }
  
  #clustrmaps-widget-v2 > .clustrmaps-map-container > .clustrmaps-date {
    font-size: 10px !important;
  }
}


.searchbar {
  width: 100%;
}

.searchcenter {
  margin: auto;
  padding-left: 0px;
  width: 68% !important;
}

.searchFont {
  width: auto;
  font-size: 15px;
}

.titlestyle {
  float: left !important;
  font-family: 'proxima-nova', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px !important;
  color: black !important;
  margin-top: 5% !important;
}

@media only screen and (max-width: 500px) {
  .searchbar {
    width: 130%;
    margin-left: -15%;
  }
}

@media only screen and (max-width: 760px) {
  
  .searchcenter {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .titlestyle {
    float: left !important;
    font-family: 'proxima-nova', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 95% !important;
    color: black !important;
    padding-bottom: 30px !important;
    margin-top: -40px !important;
    margin-left: 45px !important;
  }
}


.dtTableStyle {
  
  margin-left: 0px;
  overflow-x: scroll;
  
}





.html .p .a .h1 .h2 .h3 .h4 .h5 .h6{
  font-family: 'proxima-nova', Helvetica, sans-serif !important;
    
}

* {
  font-family: 'proxima-nova', Helvetica, sans-serif !important;
  font-size: 15px;
  
}


.logoviz{
  
  font-weight: bold;
  font-size: large;
  color: #444444b3 !important; 
}

.logowidth {
  width:17%;
}



@media only screen and (max-width: 1070px) {
  .logoviz{
    display: none;
    
    
  }

  .resultPage {
    min-height: 300px;
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px;
  }

  .tabpadding {
    padding-top: 60px;
  }
}


@media only screen and (max-width: 767px) {
  .logowidth {
    width:25%;
    font-size: 10px;
  }
  .marginlogo{
    margin-top: 35%;
  }

  /*.footerdiv {
  
    font-size: 10px;
    width: 80%;
    margin: auto;
    
  }*/

  
}

@media only screen and (max-width: 960px) {
  
  .pageContainer {
    width: 100% !important;
    height: auto;
    background-color: #ffffff;
    padding-right: 0px;
    padding-left: 0px;
    margin: auto; 
  
  }
  
}

.searchboxH {
  background-color: #f8f8f8 !important;
  width:100%; 
  height:auto; 
  border-bottom: 2px solid #8f8fd8;
  position: absolute;
  background-image: url("body_transparent copie.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.searchboxM {
  background-color: #f8f8f8 !important;
  width:100%; 
  height:auto; 
  border-bottom: 2px solid #8f8fd8;
  position: absolute;
  background-image: url("mouse.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}


fieldset {
  border: 1px solid #f8f8f8;
  color: black;
  text-align: center;
  width: 100%;
}
legend {
  padding: 0 10px;
}

.boxstyle {
  width:80%; 
  margin-top:10%;
  margin-left: auto;
  margin-right: auto;
}
.pageContainer {
  width: 90%;
  min-height: 400px;
  background-color: #ffffff;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;

}

html .body {
  width: 100% !important;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'proxima-nova', Helvetica, sans-serif;
  
}


/* Search bar */

.search-bar.on-index-page {
  margin: 0 auto;
  width: 600px;
}

.search-bar form {
  width: 100%;
  display: inline-block;
}

.search-bar .entity-dropdown.all {
  border: 1px solid #ccc;
  width: 55px;
}

.search-bar .entity-dropdown {
  float: left;
}

#form_wrapper {
  border: 1px solid blue;
  width: 100%;
  padding: 5px;
}
form {
  display: inline-block;
  width: 100%;
}

.category_dropdown_container {
  float: left;
}

input[type="submit"] {
  float: right;
  background-color: lightblue;
  width: 80px;
}

.resizable_text_box {
  padding: 0 15px 0 10px;
  overflow: hidden;
}
.resizable_text_box input {
  width: 100%;
}

.inner {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 5px;
  
}

.navbarcustom {
  width: 60%;
}

/* Toggler navbar*/
@media only screen and (max-width: 767px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  
  .collapse.in{
      display:block !important;
      padding-left: 35px;
  }

  .navbar-toggler:not(:disabled):not(.disabled) {
    margin-left: -30px !important;
  }
}

.navbarStyle {
  /*overflow: visible !important;
  position: fixed !important;
  z-index: 1001;*/
  background-color: #fff !important;
  -webkit-box-shadow: 0 3px 15px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  box-shadow: 0 3px 15px 0px rgba(0,0,0,0.2);
}

.mainboxStyle {
  text-align:center; 
  color: black !important; 
  margin-top:4%; 
  margin-bottom:6%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 991px) {
  .mainboxStyle {
    text-align:center; 
    color: black; 
    margin-top:5%; 
    margin-bottom:10%;
  }

  .nav-tabs > li > a {

    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background: #373737;
    color: #ffffff;
    font-weight: bold;
    padding: 0px !important;
    height: 25px;
    min-width: 70px;

  }

}

.modifiers {
  width: 80%; 
  margin: 70px auto auto auto;
}

@media only screen and (max-width: 1005px) {
  .modifiers {
    width: 100%; 
    margin: 40px auto auto auto;
  }
}



/*
body {
 background-image: url("grid.png");
 background-color: #ffffff;
 
}
*/

.plotly .plotly div {
  margin-bottom: 25px;
}

.navfont{
  color: black; 
  font-weight: bold; 
  font-family: 'proxima-nova', Helvetica, sans-serif;
}

.typeahead{
  border-radius: unset !important;
  border: 1px solid #ccc !important;
  height: 34px !important;
  
  font-size: 15px !important;
  margin-left: -20% !important;
   
}

.typeahead2{
  border-radius: unset !important;
  border: 1px solid #ccc !important;
  height: 34px !important;
  
  font-size: 15px !important;
  margin-left: -10% !important;
   
}

.twitter-typeahead {
  display: block !important;
  width: 80%;
  border: none !important;
}

.navbar-nav > li > a {
  color: black !important;
}


.tt-hint {
  font-family: 'proxima-nova', Helvetica, sans-serif !important;
  font-size: 14px !important;
  visibility: hidden !important; /* cacher en attendant de trouver une solution pout fusioner le mot suggéré*/
}

body {
  font-family: 'proxima-nova', Helvetica, sans-serif !important;
  color: #00030a;
  font-size: 15px;
  min-height: 100vh !important;
}


.nav-tab {
  border: none !important;
}

/*Control uppercase and lowercase of placeholder*/
.tt-query {
  text-transform: uppercase !important;
}

::placeholder { /* firefox */
  text-transform: lowercase !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 text-transform: lowercase !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 text-transform: lowercase !important;
}

::-webkit-input-placeholder { /* Edge */
  text-transform: lowercase !important;
}

/*Tabset styling*/

.nav-tabs > li > a {

  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  background: #373737;
  color: #ffffff;
  font-weight: bold;
  min-width: 70px;
  min-height: 40px;
}


@media only screen and (max-width: 760px) {
  .nav-tabs > li > a {

    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background: #373737;
    color: #ffffff;
    font-weight: bold;
    min-width: 70px;
    min-height: 25px;
  }
}

.addedbackground {
  background: #fbfbfbb3;
}

/*busy indicator background style */

div.shinysky-busy-indicator {
  background: transparent !important;

}

.searchdiv {
  background: rgb(153, 189, 203);
  color: #fff;
  font-weight: bold;
  height: 34px;
  border: 1px solid;
  width: auto !important;
}


.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100% !important;
}

.shiny-bound-input {
  width: 100% !important;
  font-size: 15px !important;

}

.margSearch {
  width: 50% !important;
}

@media (min-width: 768px) {
  .selectize-input > * {
  font-size: 15px !important;
  
  }

  .citation {

    right: 0px;
    width: 90%;
    min-height: 100px;
    float: right;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: justify;
    color: #444;
    font-size: 14px !important;
  }

}

.nav > li > a:hover {
  border-bottom: 3px rgb(153, 189, 203) solid !important;
}

@media (max-width: 767px) {
  .margSearch {
    width: 90% !important;
  }

  .selectize-input > * {
    font-size: 10px !important;
  }

  .citation {

    right: 0px;
    width: 90%;
    min-height: 100px;
    margin: auto;
    text-align: justify;
    color: #444;
    margin-top: 50px;
    font-size: 10px !important;
  
  }

  * {
    font-family: 'proxima-nova', Helvetica, sans-serif !important;
    font-size: 10px;
    
  }

  body {
    font-family: 'proxima-nova', Helvetica, sans-serif !important;
    color: #00030a;
    font-size: 10px;
  }
  

  
}

.selectize-dropdown [data-selectable] {
  font-size: 15px !important;
  text-align: justify !important;
}


/*popup DT dataTable*/
#inf:hover {
  color: blue !important;
    
}

.dataTables_wrapper {
  margin-top: 30px !important;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: red;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.nav > li > a:hover {
  text-decoration: none !important;
  
  
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 20px !important;
}

.shiny-output-error-validation {
  margin-top: 30px !important;
  font-weight: bold !important;
}

.icondiv {
  margin: auto;
  width:40%;
}


.iconHuman {
  float: left;
  width: 80px;
}

.iconMouse {
  float: right;
  width: 80px;
  
}

img.iconHuman:hover, img.iconMouse:hover {transform: scale(1.15)} 

@media only screen and (max-width: 767px) {
  .iconMouse {
    float: right;
    width: 50px;
  }

  .iconHuman {
    float: left;
    width: 50px;
  }

  .icondiv {
    margin: auto;
    width:60%;
  }

  .h3, h3 {
    font-size: 10px !important;
  }
  

}

.h3, h3 {
  font-size: 15px;
}



/*Box shadow*/

.searchbox
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.searchbox:before, .searchbox:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.searchbox:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

@media (max-width:622px) {
  .infotextdev {
    text-align: justify !important;
  }
}


@media (max-width:406px) {
  .fontthead {
    font-size: 8px !important;
  }

  table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #111;

    font-size: 8px !important;
    padding-left: 5px !important;
  }

  .container-fluid {
    padding-left: 7px;
    
  }

  table.dataTable, table.dataTable th, table.dataTable td {
    box-sizing: content-box;
    font-size: 8px;

  }
  .panelstyle {
    width:95% !important;
  }

  .paginate_button, .dataTables_info, div.dt-button, a.dt-button, .dataTables_filter, .dataTables_length {
    font-size: 8px !important;
  }

  .dataTables_length, .dataTables_wrapper .dataTables_filter, div.dt-buttons {
    float: left !important;
  }

  .shiny-input-container > div > select:not(.selectized) {
    
    font-size: 10px !important;
  }
}


.panel-heading {
  color: #333;
  background-color: rgb(153, 189, 203) !important;
  border-color: #ddd;
}

.panelstyle {
  width:95%; margin: auto;
}


/*Search box style*/

select.form-control:not([size]):not([multiple]) {
  height: 35px;
  margin-bottom: 5px;
}

.prov {
    font-size: 85%;
    color: #888;
    text-align: right;
    margin-left: 0.5em;
}

label {
  font-weight: bold !important;

}

/* fontawesome in accordion
[data-toggle="collapse"]:after {
display: inline-block;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(90deg) ;
  transition: all linear 0.25s;
  }   
[data-toggle="collapse"].collapsed:after {
  transform: rotate(0deg) ;
}

*/
/*
.shiny-bound-input {
  width: 250px !important;
  font-size: 12px !important;
}

@media only screen and (max-width: 600px) {
  .shiny-bound-input {
    width: 90% !important;
    font-size: 10px !important;
  }
}

*/


@media only screen and (max-width: 400px) {
  .nav-tabs > li > a {
    font-size: smaller !important;

  }
}

@media only screen and (max-width:771px) {
  .screenshotSmall {
    width: 100%;
  }
}


.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.clustrmaps-visitors, .clustrmaps-date, .clustrmaps-bottom-text {
  font-family: 'proxima-nova', Helvetica, sans-serif !important;
  color: #333c !important;
}

#clustrmaps-widget-v2 > .clustrmaps-map-container > .clustrmaps-date {
  font-family: 'proxima-nova', Helvetica, sans-serif !important;
  color: #333c !important;
}


/*dot to show number of validated primers*/

.dot {
  min-height: 15px;
  min-width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}


/*sidebar*/

.well {
  background-color: #fffefe !important;
  
}


.fontmuted {
  font-size: smaller;
}


.resultPage {
  min-height: 300px;
  width: 100%;
  margin-left: 50px;
  margin-right: 0px;
}